.btn-outline-secondary{
    border-radius: 0;
    padding: .5rem 2rem;
    background-color: #f8f9fa;
    font-size: 1.125rem;
    line-height: 2;
}

.hero {
    height: 840px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .container{
        width: 70%;
    }
  }
.rocket_launch1{
    .rokcet_launch_img{
        position: absolute;
    }
    .rocket_launch_card{
        position: relative; margin-top: 25rem; margin-left: 35rem;
    }
}


.rocket_launch2{
    .rocket_launch_card{
        margin-top: 25rem;
    }

}

@media only screen and (max-width: 600px) {
    .rocket_launch1{
        .rocket_launch_card{
            margin-top: 38rem; margin-left: 0rem;
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .rocket_launch2{
        .rocket_launch_card{
            margin-top: 38rem; margin-left: 0rem;
        }
    }
  }
  
.contact1{
    height: 15rem; background-color: #814ebf;
}

  @media only screen and (max-width: 600px) {
    .contact1{
        height: 20rem; background-color: #814ebf;
    }
  }

  @media only screen and (max-width: 700px) {
    .contact1{
        height: 22rem; background-color: #814ebf;
    }
  }